body {
    .container-kadaka {
        display: flex;
        justify-content: center;

        .content-kadaka {
            width: 100%;
            margin: 0;
            padding-top: 6rem;

            @media screen and (min-width: 1536px) {
                width: 1536px;
                padding-top: 10rem;
            }
            @media screen and (min-width: 1024px) {
                padding-top: 8rem;
            }

            .chief-officer {
                .officer {
                    justify-items: center;
                    grid-template-columns: 1fr;

                    @media screen and (min-width: 768px) {
                        justify-items: unset;
                        grid-template-columns: 396px 1fr;
                    }
                }
            }
        }
    }
}
